
.nav-bar{
    background-color: #1c2b35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar > :hover{
    cursor: pointer;
}
.nav-bar a {
    color: #fff;
    margin-left: 2rem;
    text-decoration: none;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.nav-bar a:hover{
    color: orange;
}
